appdirs==1.4.4
asyncio==3.4.3
beautifulsoup4==4.12.2
certifi==2023.7.22
charset-normalizer==3.3.2
idna==3.4
importlib-metadata==6.8.0
numpy==1.26.1
pandas==2.1.2
pyee==8.2.2
pyppeteer==1.0.2
python-dateutil==2.8.2
pytz==2023.3.post1
requests==2.31.0
six==1.16.0
soupsieve==2.5
tqdm==4.66.1
tzdata==2023.3
urllib3==1.26.18
websockets==10.4
zipp==3.17.0